input, button, select, textarea {
  outline: none; }

.input {
  background-color: #ffffff;
  border: solid 1px #eeeeee;
  border-radius: .5rem; }

.input:focus, .input:hover, .input:active {
  border: 1px solid #29bd8b;
  border-radius: .5rem; }

.input:focus {
  box-shadow: rgba(41, 189, 139, 0.6) 0 0 5px; }

.btn {
  background-color: #29bd8b;
  border: solid 1px #29bd8b;
  width: 200px;
  height: 40px;
  color: #ffffff;
  border-radius: 2rem;
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  text-align: center;
  line-height: 40px;
  cursor: pointer; }

.btn:hover {
  background-color: rgba(41, 189, 139, 0.8);
  border: solid 1px rgba(41, 189, 139, 0.8);
  box-shadow: rgba(41, 189, 139, 0.8) 0 0 10px;
  text-shadow: #29bd8b 0 0 2px; }

.btn:active {
  background-color: #00897B;
  border: solid 1px #00897B;
  text-shadow: #29bd8b 0 0 4px; }

.btn-blank {
  background-color: #ffffff;
  border: solid 1px #29bd8b;
  width: 200px;
  height: 40px;
  color: #29bd8b;
  border-radius: 20px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  text-align: center;
  line-height: 40px;
  cursor: pointer; }

.btn-blank:hover {
  background-color: #ffffff;
  border: solid 1px rgba(41, 189, 139, 0.8);
  box-shadow: rgba(41, 189, 139, 0.8) 0 0 10px; }

.btn-blank:active {
  border: solid 1px #00897B;
  box-shadow: rgba(41, 189, 139, 0.8) 0 0 15px;
  text-shadow: #29bd8b 0 0 4px; }

.table {
  width: 100%;
  background-color: #ffffff;
  color: #444444;
  border-collapse: collapse;
  border-spacing: 0; }
  .table td {
    padding: 8px 10px;
    border: 1px solid #29bd8b;
    text-align: left; }
  .table th {
    text-align: left;
    padding: 8px 10px;
    border: 1px solid #29bd8b; }
  .table tbody tr:hover {
    background-color: rgba(41, 189, 139, 0.1); }
  .table thead tr:hover {
    background-color: rgba(0, 137, 123, 0.4); }
  .table tfoot tr:hover {
    background-color: rgba(0, 137, 123, 0.4); }

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(68, 68, 68, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal .modal-body {
    display: flex;
    background-color: white;
    border-radius: 2rem 0 2rem 0;
    border: solid 2px #29bd8b;
    position: relative; }
    .modal .modal-body .modal-body-content {
      order: 1;
      width: 80%;
      padding: 5%;
      margin: 0 auto; }
    .modal .modal-body .modal-body-left {
      order: 2;
      left: 0;
      color: #29bd8b;
      border-top: solid 2px #29bd8b; }
    .modal .modal-body .modal-body-right, .modal .modal-body .modal-body-left {
      height: 2.5rem;
      width: 50%;
      position: absolute;
      bottom: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer; }
    .modal .modal-body .modal-body-right {
      order: 3;
      right: 0;
      background-color: #29bd8b;
      color: white;
      border-top: solid 2px #29bd8b;
      border-radius: 0 0 1rem 0; }

/*# sourceMappingURL=mo.css.map */
